h1{
    color: green;
}

/* .header h1{
    color: red;
    /* display: flex;
    justify-content: space-around; */
/* } */

/* .grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

h2,p{
    text-align: center;
} */